body {
  font-weight: 100;
  font-family: 'Roboto', 'Noto', sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  color: white;
  background-color: darkslategray;
}

.content {
  display: flex;
  justify-content: space-between;
}

fieldset {
  width: 46%;
}

ul {
  list-style-type: none;
}

.toast {
    position: absolute;
    top: -50px;
    background-color: azure;
    color: black;
    padding: 12px;
    border-radius: 2px;
    right: 13px;
    transition: top .6s;
}

.toast.visible {
  top: 12px;
}

.name {
  width: 150px;
  display: inline-block;
}

.quantity {
  width: 30px;
  display: inline-block;
}